<div class="container">
    <h4>Edit your Post</h4>
</div>
<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark">Edit Post</button>
    {% if photoPath is defined %}
        <img src="{{ asset('uploads/photos/') }}{{ photoPath }}">
    {% endif %}
    {{ form_end(form) }}
</div>
