{% extends 'mainpage/main.html.twig' %}
{% block content %}
    <div class="container-fluid container_new_post mt-5">
        <h1 class="mb-5">{% trans %}Stwórz nowy post{% endtrans %}</h1>
        {{ form_start(form) }}
        <div class="mt-3"><span style="cursor: default; font-weight: bold;">{% trans %}Tytuł{% endtrans %}</span></div>
        {{ form_widget(form.Title) }}
        {{ form_errors(form.Title) }}
        <div class="mt-3"><span style="cursor: default; font-weight: bold;">{% trans %}Treść{% endtrans %}</span></div>
        {{ form_widget(form.Content) }}
        {{ form_errors(form.Content) }}
        <div class="mt-3"><span style="cursor: default; font-weight: bold;">{% trans %}Wybierz zdjęcie{% endtrans %}:</span></div>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
        <div class="photoSelection"></div>
        <div>
            <button class="confirmButton btn btn-dark mt-5">{% trans %}Dodaj post{% endtrans %}</button>
        </div>
        {{ form_end(form) }}
    </div>
    <script>
        document.querySelector("#post_form_name").className += "btn btn-secondary";
        document.querySelector("#post_form_name").setAttribute("onchange", "whenChosen(event)");

        function whenChosen(event){
            var chosenImage = new FileReader();
            chosenImage.onload = function()
            {
                document.querySelector(".photoSelection").insertAdjacentHTML('beforeend', "<div class=\"chosenImage\">\n" +
                    "<img id=\"chosenImage\" style=\"height: 30vh; max-width: 100%; margin-top: 20px; margin-bottom: 10px;\">\n" +
                    "</div>");
                var image = document.querySelector("#chosenImage");
                image.src = chosenImage.result;
                image.style.borderRadius = "5px";
                image.style.border = "2px solid gray";
                var button = document.querySelector(".confirmButton");
                button.className = "confirmButton btn btn-dark mt-2";
            }
            chosenImage.readAsDataURL(event.target.files[0]);
        }
    </script>
{% endblock %}
