{% extends('mainpage/main.html.twig') %}
{% block content %}
    <div class="post_show">
        <div class="row">
            <div class="col-6">
                <h1>Post:</h1>
                {% if post == true %}
                    <p style="font-weight: bold;"><h4>{% trans %}Data{% endtrans %}:</h4>
                    <h6>{{ post.Date|date("d.m.Y H:i") }}</h6></p>
                    <p><h4>{% trans %}Autor{% endtrans %}:</h4>
                <h6>{{ post.User.fullName }}</h6></p>
                    <p><h4>{% trans %}Tytuł{% endtrans %}:</h4>
                    <h6>{{ post.Title }}</h6></p>
                    <p><h4>{% trans %}Treść{% endtrans %}:</h4>
                <h6>{{ post.Content }}</h6></p>
                {% endif %}
            </div>
            <div class="col-6">
                <h1>{% trans %}Zdjęcie{% endtrans %}:</h1>
                {% if photoPath is defined %}
                    <div class="show_image" data-toggle="modal" data-target="#photoModal">
                        <img class="mt-3"
                             style="max-width: 100%; border-radius: 5px; border: 2px solid gray; margin-bottom: 30px;"
                             src="{{ photoPath }}">
                        <i class="fas fa-search-plus zoom"></i>
                    </div>
                {% else %}
                    <div style="width: 300px; height: 200px; border-radius: 5px; border: 2px solid gray; text-align: center; margin-bottom: 30px; padding-top: 70px; ">
                        <h1>{% trans %}Brak zdjęcia{% endtrans %}</h1>
                    </div>
                {% endif %}
            </div>
        </div>
            <div onclick="goBack()" class="btn btn-lg btn-primary mt-3 mb-4">{% trans %}Wróć{% endtrans %}</div>
    </div>
    <!-- Modal Photo -->
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><h1>Photo</h1></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if photoPath is defined %}
                            <img class="mt-3" style="max-height: 650px; width: 100%; " src="{{ photoPath }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Photo -->
{% endblock %}
