{% extends('mainpage/main.html.twig') %}
{% block content %}
    <div class="post_show">
        <h1>{% trans %}Edytuj zadanie{% endtrans %}</h1>
        <form class="font-weight-bold" action="{{ path('save_quest') }}" method="POST">
            <input type="hidden" name="id" value="{{ quest.Id }}">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="mt-3 mb-2">{% trans %}Treść{% endtrans %}:</div>
                <input class="form-control" type="textarea" required="required" pattern=".{3,200}"
                       title="{% trans %}Treść zadania musi zawierać od 3 do 200 znaków.{% endtrans %}"
                       minlength="3" maxlength="200" name="Content" value="{{ quest.Content }}" required>
                <div class="mt-3 mb-2">{% trans %}Data{% endtrans %}:</div>
                <input class="form-control" type="date" min="{{ minDate }}" max="{{ maxDate }}" name="EndDate"
                        {% if questDate >= minDate %}
                            value="{{ questDate }}"
                        {% else %}
                            value="{{ minDate }}"
                        {% endif %}
                       required>
                <div class="mt-3 mb-2">{% trans %}Wybierz lub wprowadź nowy projekt{% endtrans %}:</div>
                <input class="form-control" list="project" name="Project" required="required" value="{{ quest.project.name }}" pattern=".{3,100}"
                       title="{% trans %}Nazwa projektu musi zawierać od 3 do 100 znaków.{% endtrans %}">
                <datalist id="project">
                    {% if projects is defined %}
                        {% for project in projects %}
                            <option value="{{ project.name }}">{{ project.name }}</option>
                        {% endfor %}
                    {% endif %}
                </datalist>
                <div class="mt-3 mb-2">{% trans %}Wybierz użytkownika{% endtrans %}:</div>
                <div>
                    <select class="browser-default custom-select" name="user" required>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.fullName }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% elseif is_granted('ROLE_USER') %}
                {{ quest.Content }}
                <input type="hidden" name="Project" value="{{ quest.project.name }}">
            {% endif %}
            <div class="mt-3 mb-2">{% trans %}Postęp{% endtrans %}:</div>
            <select class="browser-default custom-select" name="Status">
                <option value="0" {% if quest.Status == 0 %} selected {% endif %}>0%</option>
                <option value="20" {% if quest.Status == 20 %} selected {% endif %}>20%</option>
                <option value="40" {% if quest.Status == 40 %} selected {% endif %}>40%</option>
                <option value="60" {% if quest.Status == 60 %} selected {% endif %}>60%</option>
                <option value="80" {% if quest.Status == 80 %} selected {% endif %}>80%</option>
                <option value="100" {% if quest.Status == 100 %} selected {% endif %}>100%</option>
            </select>
            <input class="btn btn-warning mt-4 mr-2" type="submit" value="{% trans %}Zmień postęp{% endtrans %}">
            <div onclick="goBack()" class="btn btn-secondary mt-4">{% trans %}Wróć{% endtrans %}</div>
        </form>
    </div>
{% endblock %}
