{% extends 'mainpage/main.html.twig' %}
{% block content %}
    <form class="form form_new_quest mt-3 font-weight-bold" action="{{ path('add_quest') }}" method="POST">
        <h1 class="mb-3">{% trans %}Stwórz nowe zadanie{% endtrans %}</h1>
        <div class="mt-3 mb-2">{% trans %}Treść{% endtrans %}:</div>
        <input class="form-control" type="textarea"
               pattern=".{3,200}" required="required" title="{% trans %}Treść zadania musi zawierać od 3 do 200 znaków.{% endtrans %}"
               name="Content" value="{{ quest.Content }}" required>
        <div class="mt-3 mb-2">{% trans %}Data{% endtrans %}:</div>
        <input class="form-control" type="date" min="{{ minDate }}" max="{{ maxDate }}"
               name="EndDate" required>
        <div class="mt-3 mb-2">{% trans %}Wybierz projekt{% endtrans %}:</div>
        <select class="form-control" name="Project" pattern=".{3,100}" required="required"
               title="{% trans %}Nazwa projektu musi zawierać od 3 do 100 znaków.{% endtrans %}">
            {% if projects is defined %}
                {% for project in projects %}
                    <option id="project" value="{{ project.name }}">{{ project.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
        <div class="mt-3 mb-2">{% trans %}Wybierz użytkownika{% endtrans %}:</div>
        <select class="browser-default custom-select" name="user" required>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.fullName }}</option>
            {% endfor %}
        </select>
        <div class="mt-3 mb-2">
            <input class="btn btn-lg btn-secondary" type="submit"
                   value="{% trans %}Dodaj{% endtrans %}">
            <button class="btn btn-lg btn-info ml-2" onclick="goBack()">{% trans %}Anuluj{% endtrans %}</button>
        </div>
    </form>
{% endblock %}
