{% extends 'mainpage/main.html.twig' %}
{% block content %}

    <div class="post_show">
        <h1 class = "mb-5">Quest</h1>
        <h2>Content:</h2>
            {{quest.content}}
        <h2>Progress:</h2>
        <div class="progress mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ quest.status }}%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{ quest.status }}%</div>
        </div>
        <h2>Add date:</h2>
            {{quest.addDate|date("m/d/Y")}}
        <h2>Deadline:</h2>
            {{quest.endDate|date("m/d/Y")}}</br>
        <a href="/quest/edit/{{quest.id}}"><button class="btn btn-warning mt-4">Edit</button>
        <a href="/quests/{{app.user.id}}"><button class="btn btn-secondary mt-4 ml-2">Back</button></a>
    </div>

{% endblock %}
