{% extends 'mainpage/main.html.twig' %}
{% block content %}
    <h1 style="margin:25px;">{% trans %}Zadania{% endtrans %}</h1>
    <table class="table table-light">
        <thead>
        <tr style="text-align:center">
            {% if user is defined %}
                <th scope="col">{% trans %}Pracownik{% endtrans %}</th>
            {% endif %}
            <th scope="col">{% trans %}Ostateczny termin{% endtrans %}</th>
            <th scope="col">{% trans %}Projekt{% endtrans %}</th>
            <th scope="col">{% trans %}Treść{% endtrans %}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">{% trans %}Usuń{% endtrans %}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if quests is empty %}
            <tr>
                <td><h4>{% trans %}Brak zadań do wyświetlenia{% endtrans %}</h4></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% else %}
            {% for quest in quests %}
                <tr style="text-align:center">
                    {% if user is defined %}
                        <td>{{ quest.user.login }}</td>
                    {% endif %}
                    <td>{{ quest.endDate|date("m/d/Y") }}</td>
                    <td>{{ quest.project.name }}</td>
                    <td>
                        <a href="{{ path('show_quest', {id: quest.id}) }}">
                            <button class="btn btn-warning">{% trans %}Pokaż{% endtrans %}</button>
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <button id="{{ quest.id }}" onclick="get_number(this.id)"
                                    class="btn btn-outline-danger action_post"
                                    data-target="#exampleModalCenterDelete" data-toggle="modal">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <div class="row d-flex justify-content-center w-100 paginator mt-3">
        {{ knp_pagination_render(quests) }}
    </div>
    <!-- Delete quest modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenterDelete"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h1>
                        <i class="far fa-question-circle mt-2"></i>
                    </h1>
                    <h2 class="mt-4 mb-3">
                        <bold>{% trans %}Jesteś pewien{% endtrans %}?</bold>
                    </h2>
                    <h5>{% trans %}Czy chcesz usunąć zadanie{% endtrans %}?</h5>
                    <a class="action" id="/post/delete/">
                        <button class="delete btn-lg btn-outline-danger mt-5 mr-2">{% trans %}Usuń{% endtrans %}</button>
                    </a>
                    <button class="btn-lg btn-outline-secondary mt-5 ml-2" data-dismiss="modal" type="button">{% trans %}Anuluj{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete quest modal -->
    <script>
        let number;

        function get_number(clicked_id) {
            number = clicked_id;
        }

        document.querySelector(".delete").onclick = function () {
            delete_trigger()
        };

        function delete_trigger() {
            window.location.href = '/quest/delete/'.concat(number);
        }
    </script>
{% endblock %}
