{% extends 'mainpage/main.html.twig' %}
{% block content %}
            <div class="container-fluid">
                <h1 style="margin:25px;">Edit your facebook data</h1>
                <div class="row mt-5">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="form form_edit_facebook w-95">
                            <h2 class="mb-3">
                                <bold>Edit App ID:</bold>
                            </h2>
                            {{ form_start(appIdForm) }}
                            {{ form_widget(appIdForm) }}
                            <button class="btn btn-dark mt-4">Edit App ID</button>
                            {{ form_end(appIdForm) }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="form form_edit_facebook w-95">
                            <h2 class="mb-3">
                                <bold>Edit App Secret Token:</bold>
                            </h2>
                            {{ form_start(appSecretForm) }}
                            {{ form_widget(appSecretForm) }}
                            <button class="btn btn-dark mt-4">Edit App Secret Token</button>
                            {{ form_end(appSecretForm) }}
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="form form_edit_facebook w-95">
                            <h2 class="mb-3">
                                <bold>Edit Page ID:</bold>
                            </h2>
                            {{ form_start(pageIdForm) }}
                            {{ form_widget(pageIdForm) }}
                            <button class="btn btn-dark mt-4">Edit Page ID</button>
                            {{ form_end(pageIdForm) }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="form form_edit_facebook w-95">
                            <h2 class="mb-3">
                                <bold>Edit Facebook Access Token:</bold>
                            </h2>
                            {{ form_start(accessTokenForm) }}
                            {{ form_widget(accessTokenForm) }}
                            <button class="btn btn-dark mt-4">Edit Token</button>
                            {{ form_end(accessTokenForm) }}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}