<h4>Edit your data</h4>

{{ form_start(loginForm) }}
{{ form_widget(loginForm) }}
<button class="btn btn-dark">Edit login</button>
{{ form_end(loginForm) }}

{{ form_start(passwordForm) }}
{{ form_widget(passwordForm) }}
<button class="btn btn-dark">Edit password</button>
{{ form_end(passwordForm) }}

{{ form_start(emailForm) }}
{{ form_widget(emailForm) }}
<button class="btn btn-dark">Edit email</button>
{{ form_end(emailForm) }}

