{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4" style="zzoverflow: auto;">
        <a class="brand-link" href="/">
            <i class="fab fa-facebook-f" style="position:relative; margin-left: 19px; size: 3px; top:3px;"></i>
            <span class="brand-text font-weight-light" style="margin-left: 5px;">Pszemke.App!
            </span>
        </a>
        <div class="sidebar" style="overflow: auto;">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                    role="menu">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <!--*********************************************************-->
                        <li class="nav-item  active treeview menu-open">
                            <a class="nav-link" href="#">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    {% trans %}Zadania{% endtrans %}
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('show_user_quests', {id: app.user.Id}) }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Pokaż zadania{% endtrans %}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% elseif is_granted('ROLE_CLIENT') %}
                        <li class="nav-item  active treeview menu-open">
                            <a class="nav-link" href="#">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    {% trans %}Projekty{% endtrans %}
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item archive">
                                    <a class="nav-link button"
                                       href="{{ path('show_user_projects', {id: app.user.Id}) }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Moje projekty{% endtrans %}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <!--*********************************************************-->
                    <li class="nav-item  active treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-edit"></i>
                            <p>
                                Chat
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item archive">
                                <a class="nav-link button" href="{{ path('chat') }}">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>{% trans %}Pokaż chat{% endtrans %}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--*********************************************************-->
                    <li class="nav-item  active treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-edit"></i>
                            <p>
                                {% trans %}Konto{% endtrans %}
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item archive">
                                <a class="nav-link button" href="{{ path('edit_user', {id: app.user.Id}) }}">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>{% trans %}Dane konta{% endtrans %}</p>
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('edit_facebook', {id: app.user.Id}) }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Facebook</p>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <!--*********************************************************-->
                    <li class="nav-item active treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-edit"></i>
                            <p>
                                {% trans %}Posty{% endtrans %}
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item archive">
                                <a class="nav-link button" href="{{ path('show_user_posts') }}">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>{% trans %}Przeglądaj{% endtrans %}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--********************************************************-->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item  active treeview menu-open">
                            <a class="nav-link" href="#">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    {% trans %}Administrator{% endtrans %}
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('show_users') }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Lista użytkowników{% endtrans %}</p>
                                    </a>
                                </li>
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('app_register') }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Stwórz użytkownika{% endtrans %}</p>
                                    </a>
                                </li>
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('new_quest') }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Dodaj zadanie{% endtrans %}</p>
                                    </a>
                                </li>
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('show_all_quests') }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Lista zadań{% endtrans %}</p>
                                    </a>
                                </li>
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('show_posts') }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Lista postów{% endtrans %}</p>
                                    </a>
                                </li>
                                <li class="nav-item archive">
                                    <a class="nav-link button" href="{{ path('show_all_projects') }}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{% trans %}Projekty{% endtrans %}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <!--*********************************************************-->
                </ul>
            </nav>
        </div>
    </aside>
{% endblock %}
